<!DOCTYPE html>
<html>
  <head>
    <title>Customizable Caching API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Customizable Caching API</h1>

    <form action="/cache" method="post">
      <label for="key">Key</label>
      <input type="text" name="key" id="key">
    
      <label for="value">Value</label>
      <input type="text" name="value">
      <br><br>
      <button type="submit">SUBMIT</button>
      <button type="reset">RESET</button>
    </form>
  
  </body>
</html>
